.footer {
  background-color: var(--color-neutral-secondary);
  padding: .5vh 0;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
}

.footer-text{
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-neutral-primary);
  font-size: 1.3rem;
  margin: .7rem;
}

.footer-link {
  color: var(--color-neutral-primary);
  border-bottom: 2px solid var(--color-secondary);
  text-decoration: none;
  cursor: pointer;
  transition: all .5s;
}

.footer-link:hover{
  background-color: var(--color-secondary);
  color:var(--color-neutral-primary)
}