body {
  margin: 0;
  position: relative;
  min-height: 100vh;
  padding-bottom: 8rem;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --color-primary: #282c34;
  --color-secondary: #ef6565;
  --color-secondary-light:#f0b9b9;
  --color-accent: #8892c6;
  --color-neutral-primary: rgb(255, 255, 255);
  --color-neutral-secondary: black;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

input {
  font-family: monospace;
  font-weight: 400;
  display: block;
  width: 100%;
  padding: .5rem;
  border: 3px solid var(--color-neutral-primary);
  font-size: 1.3rem;
}
  
button {
  background-color: var(--color-secondary);
  color: var(--color-neutral-primary);
  padding: .2rem;
  width: 8rem;
  margin-left: 1.5rem;
  margin-top: .2rem;
  height: 2.4rem;
  font-size: 1.3rem;
  border: 1px solid var(--color-neutral-secondary);
  cursor:pointer;
}

a {
  color: var(--color-neutral-primary);
  border-bottom: 2px solid var(--color-secondary);
  text-decoration: none;
  cursor: pointer;
  transition: all .5s;
}

a:hover{
  background-color: var(--color-secondary);
  color:var(--color-neutral-primary)
}

*{
  box-sizing: border-box;
}

h2 {
  font-size: 1.3em;
}

@media (max-width: 450px) {
  html {
    font-size: 85%;
  }
}

@media (max-width: 370px) {
  html {
    font-size: 78%;
  }
}